* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597de);
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  z-index: 10000;
}

.branding {
  color: rgb(194, 194, 194);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(194, 194, 194);
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1em;
  padding: 5px 5px;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.nav-links a:hover {
  background-color: rgb(87, 74, 204);
  color: rgb(0, 0, 0);
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(194, 194, 194);
  margin: 5px;
  transition: all 0.3s ease;
}

.parallax {
  position: relative;
  width: 100%;
  height: 110vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parallax::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 1000;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#moon {
  mix-blend-mode: screen;
}

#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  transform: translateY(100px);
}

.about-title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background: #1c0521;
}

.about-title h2 {
  font-size: 2em;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
  background: #1c0521;
}

.container img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.flex {
  text-align: center;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  padding: 2rem;
  margin: 1rem;
  background-color: rgb(87, 74, 204);
  box-shadow: 10px 10px#2b1055;
}

.flex h4 {
  color: #fff;
}

.flex p {
  font-size: 1em;
  color: #fff;
  text-align: justify;
}

.flex h4 {
  font-size: 1em;
  color: #fff;
}

.flex:hover {
  background-color: rgb(40, 30, 131);
}

.skills-title {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  background: #1c0521;
}

.skills-title h2 {
  font-size: 2em;
  color: #fff;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
  background: #1c0521;
}

.skills-item {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  margin: 1rem;
  width: 25%;
  height: auto;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  background-color: rgb(87, 74, 204);
  box-shadow: 10px 10px#2b1055;
}

.skills-item h3 {
  font-size: 1em;
  color: #fff;
  text-align: center;
}

.skills-item p {
  font-size: 1.5rem;
  padding-top: 1rem;
  text-align: center;
}

#skills-item img {
  display: block;
  margin: 0 auto;
  width: 4rem;
}

#html img {
  width: 4.5rem;
}

#css img {
  width: 4.5rem;
}

#react img {
  width: 4rem;
}

#php img {
  width: 7rem;
}

.project-title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 100px;
  background: #1c0521;
}

.project-title h2 {
  font-size: 2em;
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-bottom: 4rem;
  background: #1c0521;
}

.flex-item {
  padding: 2rem;
  margin: 1rem;
  height: auto;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  background-color: rgb(87, 74, 204);
  box-shadow: 10px 10px#2b1055;
}

.flex-item h3 {
  font-size: 1.5em;
  color: #fff;
  margin: 3%;
  text-align: center;
}

.flex-item p {
  font-size: 1em;
  color: #fff;
  margin-bottom: 10px;
  text-align: justify;
}

.flex-item:hover {
  background-color: rgb(40, 30, 131);
}

#object-detection {
  width: 100%;
  height: auto;
}

#oms {
  width: 100%;
  height: auto;
}

#car-rental {
  width: 100%;
  height: auto;
}

#sudoku-solver {
  width: 100%;
  height: auto;
}

#calculator {
  width: 100%;
  height: auto;
}

.hobbies-title {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 100px;
  background: #1c0521;
}

.hobbies-title h2 {
  font-size: 2em;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
  .flex-item {
    padding: 2.5rem;
  }
  .skills-item p {
    font-size: 1rem;
    padding-top: 0.75rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  h2 {
    font-size: 0.25rem;
  }

  p {
    font-size: 1.2rem;
  }

  .container img {
    width: 100%;
    max-width: 100px;
    height: auto;
  }

  .flex {
    padding: 1rem;
  }

  #skills-item img {
    display: block;
    margin: 0 auto;
    width: 2rem;
  }

  #php img {
    width: 3.5rem;
    display: block;
    margin: 0 auto;
  }

  .skills-item {
    padding: 2rem;
    margin: 0.5rem;
    width: 25%;
    height: auto;
  }

  .skills-item h3 {
    font-size: 0.5rem;
  }

  .skills-item p {
    font-size: 0.5rem;
    padding-top: 0.5rem;
  }

  #html img {
    width: 2.1rem;
  }

  #css img {
    width: 2.1rem;
  }

  #react img {
    width: 1.8rem;
  }

  #php img {
    width: 3.3rem;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background: linear-gradient(#2b1055, #7597de);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 10000;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .flex-item {
    padding: 1.5rem;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
