body {
  background-color:rgba(232, 207, 178, 0.87);
}

.navigation  {
  position: relative;
}

.navigation li{
  list-style-type: none;
  display: inline;
  margin: auto;
  overflow: hidden;
}

header a {
  color:rgb(207, 135, 128);
  text-decoration:none;
  text-transform:uppercase;
  font-size: 1.0 em;
  font-weight:bold;
  margin: 5px;
}
